<footer>
    <div class="container">
        <div class="footer__grid">
            <p>&copy; {new Date().getFullYear()} Christina Reilly. All rights reserved.</p>

            <div class="footer__links">
                <a href="https://codepen.io/creillz" target="_blank" rel="noopener noreferrer">Codepen</a>
                <a href="https://github.com/creilly2192" target="_blank" rel="noopener noreferrer">GitHub</a>
                <a href="https://www.linkedin.com/in/christinareilly2/" target="_blank" rel="noopener noreferrer">Linkedin</a>
            </div>
        </div>
     

    </div>
</footer>