<section class="hero-main">
    <div class="container">
        <h1 class="hero-main__title">I make things for the web.</h1>
        <p class="hero-main__deck">
            This site is where I keep track of what I’m reading, writing, and thinking about.
        </p>
    </div>
</section>