---
import type { WorkingItem } from "../data/now.types";

type Props = { items?: WorkingItem[] };
const { items = [] } = Astro.props as Props;
---

<div class="section-now__grid-item">
  <h3>Working On</h3>
  {
    items.length === 0 ? (
      <p>No current projects</p>
    ) : (
      <ul class="working-list">
        {items.map((item) => (
          <li key={item.id} class="working-list__item">
            &mdash; {item.text}
          </li>
        ))}
      </ul>
    )
  }
</div>
